.new-user-alert {
  padding-top: 2.5rem
}

.social {
  margin-top: 25px;
}

.btn{
  margin-right: 20px;

  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;

  color: #f1f1f1;

  &:hover {
    opacity: 0.8;
  }
}

.google {
  background-color: #dd4b39;
}
.facebook {
  background-color: #3B5998;
}

.twitter {
  background-color: #55ACEE;
}

.git {
  background-color: #333;
}
